*{ margin: 0; padding: 0; }
.menu-container{
	width: 100%;
	height: 100px;
	background: #6ab04c; 
	color: white;
}

.menu-container ul {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu-container ul li{
	list-style: none;
	text-transform: uppercase;
	color: white;
}

.menu-container ul li a{
	list-style: none;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

.home-container{
	width: 100%;
	height: 300px;
	background-color: #d6ad3a;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}